a:link, a:visited {
    color: #2B5F94;
}

#Home {
    background-color: #ffffff;
}

#Bg-img {
    max-width: 50%;
    max-height: inherit;

    min-width: 80pt;
    min-height: inherit;

    padding-right: 0;
    margin-left: 25%;
    /*padding-top: 5%;
    padding-bottom: 5%;*/
    margin-right: 0;
}

#landing-text {
    color: #3d97a2;
    font-size: 500%;

    text-align: center;
}

@media (min-width: 768px) {
    #landing-text {
        padding: 20% 15% 20% 15%;
        font-size: 500%;
    }

    #Bg-img {
        max-width: 100%;
        max-height: inherit;

        min-width: 90pt;
        min-height: inherit;

        margin-left: 0%;
    }
}

@media (min-width: 1165px) {
    #landing-text {
        padding: 32% 15% 32% 15%;
        font-size: 500%;
    }
}





.Nav-Btn-Text {
  /*color: #FFFFFF;*/
  color: #3d97a2;
  font-family: "Raleway";
  font-style: light;

  text-decoration: none;
  font-size: 1;
}

.Nav-Btn {
    /*background-color: #323232;*/
    /*background-color: #ffffff;*/
    text-align: center;

    border-width: 0;
    height: 2;
    line-height: 1;
}

a.Nav-Btn:hover {
    color: #3d97a2;
}

a.Nav-Btn:click {

}

.contact-icon {

  width: 2em;
  height: 2em;
}

#twitter-icon {
  background-color: #55acee;
}

#WhoIAm {
    text-align: center;
    padding: 10% 0% 10% 0%;
    background-color: #3d97a2;
    color: #ffffff;
}

#Projects {
    padding: 10% 0% 10% 0%;
    text-align: center;
}
