/***************************CSS: GENERAL PROPERTIES***************************/
/*Link color*/
a:link, a:visited {
    color: #2B5F94;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
p, div {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}


/*****************************LANDING PAGE -- HOME*****************************/
#Home {
    background-color: #ffffff;
}

/*Bg pic of me*/
#Bg-img {
    max-width: 50%;
    max-height: inherit;

    min-width: 80pt;
    min-height: inherit;

    padding-right: 0;
    margin-left: 25%;
    /*padding-top: 5%;
    padding-bottom: 5%;*/
    margin-right: 0;
}

/*Landing text: sayan faraz*/
#landing-text {
    color: #3d97a2;
    font-size: 500%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/*Proper scaling for different media*/
/*mobile*/
@media (min-width: 768px) {
    #landing-text {
        padding: 20% 15% 20% 15%;
        font-size: 500%;
    }

    #Bg-img {
        max-width: 100%;
        max-height: inherit;

        min-width: 90pt;
        min-height: inherit;

        margin-left: 0%;
    }
}
/*desktop -- used for smoothing out sayan \n faraz vs sayan faraz*/
@media (min-width: 1165px) {
    #landing-text {
        padding: 32% 15% 32% 15%;
        font-size: 500%;
    }
}


/*********************************CONTACT BAR *********************************/
.contact-icon {

  width: 2em;
  height: 2em;
}

#twitter-icon {
  background-color: #55acee;
}


/*****************************PROJECT DESCRIPTIONS*****************************/
.ProjectDescriptions {
    margin-top: 5%;
    margin-left: 10%;
}

/****************************OTHER PAGES: NAV BAR****************************/
.Nav-Btn-Text2 {
  color: #FFFFFF;
  /*color: #3d97a2;*/
  font-family: "Raleway", sans-serif;
  font-style: light;

  text-decoration: none;
  font-size: 1;
}

#NavBtnDiv2 {
    background-color: #3d97a2;
}

.Nav-Btn2 {
    /*background-color: #323232;*/
    /*background-color: #ffffff;*/
    text-align: center;

    border-width: 0;
    height: 2;
    line-height: 1;
}

a.Nav-Btn2:hover {
    color: #3d97a2;
}

a.Nav-Btn2:click {

}
